<!-- <div style="padding: 7px">
  <form [formGroup]="myForm">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <div class="form-group">
      <button class="btn btn-primary " name="submit" type="submit">Submit</button>
    </div>
  </form>
  <p *ngIf="myForm.valid">
    Your choice: {{myForm.value.chosenDate | date: 'dd/MM/y H:mm:ss'}}
  </p>
</div> -->

