<div style="padding: 7px">
  <form [formGroup]="myForm">
    <div>
      <label class="control-label" for="date">Date</label>
      <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
    </div>
    <div class="form-group"> <!-- Submit button -->
      <button class="btn btn-primary " name="submit" type="submit">Submit</button>
    </div>
  </form>
  <p *ngIf="myForm.valid">
    Your choice: {{myForm.value.chosenDate | date: 'dd/MM/y H:mm:ss'}}
  </p>


</div>
