<nav id="navbar" class="navbar navbar-default " *ngIf="!currentUser">
  <div id="main-nav" class="nav navbar-nav">
      <p class="nav navbar-brand">{{title}}</p>
      <a class="nav-item nav-link" routerLink="/register">Register</a>
      <a  class="nav-item nav-link" routerLink="/login">Login</a>
  </div>
</nav>

<nav id="navbar" class="navbar navbar-default " *ngIf="currentUser">
  <a class="navbar-brand">Hello, {{currentUser.firstName}}!</a>
  <ul id="main-nav" class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-item nav-link" routerLink="/post">Add a post</a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
