<div class="container" style="padding-top: 1.5em">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="padding-left: 10px"> Medical History</div>
      <div class="panel-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In viverra lectus tortor, non porttitor neque hendrerit nec. Nulla vel erat non magna tristique volutpat. Pellentesque gravida rhoncus varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Phasellus quis sapien facilisis, finibus mi id, venenatis mi. Vestibulum facilisis augue id mi sagittis venenatis. Maecenas quis quam id purus tristique eleifend eget eget risus. Suspendisse ultrices fermentum ante, id blandit purus euismod in. Nulla id interdum lectus, ut luctus neque. Nunc sit amet metus euismod, fermentum mi commodo, fringilla erat. Aliquam dignissim nisl pulvinar metus efficitur suscipit.

            Cras et eros lorem. Aenean facilisis erat quam, non aliquam neque aliquet id. Maecenas non mi nec lorem dignissim rhoncus ac vel sapien. Nunc neque nibh, egestas in vehicula eu, cursus eget nisi. Cras feugiat justo nisl, vitae vehicula nisl pharetra a. Nulla sed dignissim nunc, eget ornare eros. Donec imperdiet nunc ligula, ut rhoncus massa fringilla ut. Morbi mi lectus, bibendum eget orci quis, tincidunt porttitor nulla.
        </p>
      </div>
    </div>
  </div>
</div>
