<!-- CARD IMAGE -->

<!-- CARD  -->
<!-- <div class="card">
  <div class="card-header">
    <h5>Profile</h5>
  </div>
  <div class="btn btn-secondary btn-sm" *ngIf="logUser.user_id === currentUser.user_id" routerLink="/editProfile">Edit Profile</div>
  <div class="card-body">
    <div class="row align-items-center m-4">
      <h5 class="col ">Name</h5>
      <h5 class="col">{{currentUser.firstName}} {{currentUser.lastName}}</h5>
    </div>



    <div class="row align-items-center m-4">
      <h5 class="col-3">Email</h5>
      <h5 class="col-4">{{currentUser.email}}</h5>
    </div>


    <div class="row align-items-center m-4">
      <h5 class="col-3">Birthday</h5>
      <h5>{{currentUser.birthdate}}</h5>
    </div>


    <div class="row align-items-center m-4">
      <h5 class="col-3">Address</h5>
      <h5 class="col-4">{{currentUser.occupation}}</h5>
    </div>

  </div>
</div> -->
<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Patient Information</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <p>
              {{currentUser.firstName}} {{currentUser.lastName}} <br />
              January 30, 1974 <br />
              John.Doe@gmail.com
            </p>
          </div>
          <div class="col-sm-2 col-md-4">
            <p>
              Address: Unknown
              <br />Home:   (555)555-5555
              <br />Mobile: (555)545-5454
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
