<!-- CARD IMAGE -->


<!-- CARD  -->
<div class="card">
  <div class="card-header">
    <h5>Profile</h5>
  </div>
  <div class="btn btn-secondary btn-sm" *ngIf="logUser.user_id === currentUser.user_id" routerLink="/editProfile">Edit Profile</div>
  <div class="card-body">
    <div class="row align-items-center m-4">
      <h5 class="col ">Name</h5>
      <h5 class="col">{{currentUser.firstName}} {{currentUser.lastName}}</h5>
    </div>



    <div class="row align-items-center m-4">
      <h5 class="col-3">Email</h5>
      <h5 class="col-4">{{currentUser.email}}</h5>
    </div>


    <div class="row align-items-center m-4">
      <h5 class="col-3">Birthday</h5>
      <h5>{{currentUser.birthdate}}</h5>
    </div>


    <div class="row align-items-center m-4">
      <h5 class="col-3">Occupation</h5>
      <h5 class="col-4">{{currentUser.occupation}}</h5>
    </div>

  </div>
</div>
